body{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamesquare{
  background-color: antiquewhite;
  width: 5rem;
  height: 5rem;
}

.gamesquare:hover{
  background-color: rgb(224, 164, 85);
}

.play{
  background-color: aqua;
}

.hide{
  display: none;
}

.gameboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;

}